@model Product

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="text-center">
            <h1>المنتج</h1>
            <h2 class="text-primary">@Model.ARName</h2>

        </div>

        <div class="text-center mt-4">
            <h5 class="fw-bold">صوره المنتج</h5>
            <img id="previewImg" src="~/@Model.img" class="img-thumbnail shadow-lg"
                 style="width: 300px; height: 300px; object-fit: cover; border-radius: 10px;">
        </div>

        <div class="mt-4">
            <h4 class="text-dark">📌 تفاصيل المنتج</h4>
            <p class="lead">@Html.Raw(@Model.ARDescription)</p>


        </div>

        <div class="text-center mt-4">
            <a href="~/" class="btn btn-primary btn-lg">⬅️ Back to Home</a>
        </div>
    </div>
</div>
